.routeTrace{
    padding-top: 16px;
}

.routeString {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.homeIcon,
.delimiterIcon {
    width: 20px;
    height: 20px;
}

.delimiterIcon {
    margin-right: 4px;
}

.routeItemDescription {
    white-space: pre;
    color: var(--grey);
}
.routeItemDescription__last{
    color:var(--black);
}

@media screen and (min-width:1920px) {
.routeTrace {
        padding-top: 24px;
    }
}